---
layout: default
---

<img src="/ohpiglet/assets/image/hero.png">

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">

    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    <div class="entry">
      {% if post.content contains '<!--more-->' %}

      {{ post.excerpt }}

      {% else %}

      {{ post.excerpt | markdownify | strip_html | truncate: 50 }}

      {% endif %}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Rghghghghead more</a>
  </article>
  {% endfor %}

  {% include pagination.html %}
</div>
