---
layout: default
---

<img src="/ohpiglet/assets/image/hero.png">


  <script> 
    function redirectToRandomPage() { 
      // Array of specific pages on the website 
      const pages = [ 
          'https://sliding.toys/mystic-square/8-puzzle/daily/',
          'https://sliding.toys/mystic-square/8-puzzle/daily/',
          'https://longdogechallenge.com/',
          'https://maze.toys/mazes/mini/daily/',
          'https://optical.toys',
          'https://paint.toys/calligram/',
          'https://puginarug.com',
          'https://memory.toys/classic/easy/',
          'https://alwaysjudgeabookbyitscover.com',
          'https://clicking.toys/flip-grid/neat-nine/3-holes/',
          'http://www.staggeringbeauty.com/',
          'http://burymewithmymoney.com/',
          'https://toms.toys',
          'https://memory.toys/monkey-challenge/easy/',
          'https://memory.toys',
      ]; 
      // Generate a random index 
      const randomIndex = Math.floor(Math.random() * pages.length); 
      // Redirect to the randomly selected page 
      window.location.href = pages[randomIndex]; 
  } 
</script> 
</head> 

<body onclick="redirectToRandomPage()"> 
  <button type="randomisebutton" onclick="redirectToRandomPage()">OH HAI THERE, random page plz!</button>
</body> 

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">

    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    <h4><i>{{ post.date | date: "%B %-d, %Y" }}</i></h4>

    <div class="entry">
      {% if post.content contains '<!--more-->' %}

      {{ post.excerpt }}

      {% else %}

      {{ post.content }}

      {% endif %}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}"</a>
  </article>
  {% endfor %}

  {% include pagination.html %}
</div>
